<a href="https://colab.research.google.com/github/RidwanSupon/Problem-Solving/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
existing_sheet = pd.read_csv("/content/CGPASHEET - Sheet1.csv")
print(existing_sheet)

   Unnamed: 0 Unnamed: 1 Unnamed: 2
0          Id       Name       cgpa
1          10         AA        3.7
2          11         AB       3.55
3          12         AC       3.21
4          13         AD          4
5          14         AE       3.25
6          15         AF       3.84
7          16         AG       3.75
8          17         AH       3.21
9          18         AI       3.56
10         19         AJ       3.77
11         20         AK        3.1

In [ ]:
import pandas
mydataset = {
  'Bike': ["Suzuki", "Yamaha", "Tvs"],
  'Ratings': [4.5, 4.5, 4]
}
myvar = pandas.DataFrame(mydataset)

print(myvar)

     Bike  Ratings
0  Suzuki      4.5
1  Yamaha      4.5
2     Tvs      4.0

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
import pandas as pd
1
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
print(existing_sheet.info)

<bound method DataFrame.info of    Unnamed: 0 Unnamed: 1 Unnamed: 2
0          Id       Name       cgpa
1          10         AA        3.7
2          11         AB       3.55
3          12         AC       3.21
4          13         AD          4
5          14         AE       3.25
6          15         AF       3.84
7          16         AG       3.75
8          17         AH       3.21
9          18         AI       3.56
10         19         AJ       3.77
11         20         AK        3.1>

In [ ]:


print(existing_sheet.to_string())

   Unnamed: 0 Unnamed: 1 Unnamed: 2
0          Id       Name       cgpa
1          10         AA        3.7
2          11         AB       3.55
3          12         AC       3.21
4          13         AD          4
5          14         AE       3.25
6          15         AF       3.84
7          16         AG       3.75
8          17         AH       3.21
9          18         AI       3.56
10         19         AJ       3.77
11         20         AK        3.1

In [ ]:
print(existing_sheet.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
dtype: bool

In [ ]:
print(existing_sheet.duplicated().sum())

0

In [ ]:
print(existing_sheet.duplicated().is_empty())

AttributeError: 'Series' object has no attribute 'is_empty'